@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');*{box-sizing:border-box;margin:0;padding:0;border-radius:0px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body{position:relative;scroll-behaviour:smooth;font-family:ZCOOL QingKe HuangYou;background:black}.Border{font-size:12px;position:relative;min-height:100%;box-sizing:border-box;padding-bottom:80px;background-color:#222;text-align:center;background-color:BLACK;padding:0px;margin:8px;border-style:double;border-radius:10px;border-color:#ccc;border-width:2px;animation-name:bodyborder;animation-iteration-count:infinite;animation-duration:5s;animation-direction:right}.BlurWebs{animation:blur 3s linear 1 0s forwards}::-webkit-scrollbar{width:8px;height:15px}::-webkit-scrollbar-track{box-shadow:inset 0 0 5px grey;border-radius:10px}::-webkit-scrollbar-thumb{background:#00ffbc;border-radius:10px}::-webkit-scrollbar-thumb:hover{background:#00ffbc}.MangXaHoiFtThanhDieu div{border:2px solid white;border-radius:7px;color:white;padding:10px 24px;cursor:pointer;width:43%;margin:auto 29%;transition:0.5s;text-align:center;text-shadow:-1px 0 5px CYAN,0 1px 5px RED,1px 0 5px CYAN,0 -1px 5px RED}.MangXaHoiFtThanhDieu:after{content:"";clear:both;display:table}.MangXaHoiFtThanhDieu div:not(:last-child){border-right:none}.MangXaHoiFtThanhDieu div:hover{transform:translateY(-3px);transition:0.5s}.Youtube{background:rgb(221,105,105);background:linear-gradient(138deg,rgba(221,105,105,1) 0%,rgba(222,94,94,1) 21%,rgba(223,86,86,1) 37%,rgba(223,86,86,1) 46%,rgba(235,49,43,1) 66%)}.Facebook{background:rgb(131,58,180);background:linear-gradient(90deg,rgba(51,51,255,1) 100%,rgba(51,51,255,1) 100%,rgba(51,51,255,1) 100%)}.Discord{background:rgb(88,101,242);background:linear-gradient(139deg,rgba(88,101,242,1) 41%,rgba(152,100,230,1) 75%)}.Telegram{background:rgb(0,255,255);background:linear-gradient(139deg,rgba(0,255,255,1) 41%,rgba(0,255,240,1) 75%)}.ThongTinThanhToan{transition:.5s;display:flex;align-items:center;justify-content:center;flex-direction:column;background-color:#252525;padding:14px;border-radius:10px;box-shadow:0 2px 2px 1px #555;color:#ffffff;width:80%;margin-left:auto;margin-right:auto;margin-top:10px;margin-bottom:10px;border-radius:2px;box-shadow:0 0 7px 3px #33FFFF}.ThongTinThanhToan:hover{background-color:#353535;box-shadow:0 2px 2px 1px #555;transform:scale(0.95);border-radius:2px;box-shadow:0 0 7px 3px #33FFFF}.ThongTinThanhToanTitle{padding:0 0;margin:0 0;font-size:23px;font-weight:700;color:#00FFFF}.ThongTinThanhToanText{padding:0 0;margin:5 0;font-size:20px;font-weight:500;color:#00CC33;margin-top:5px}.Blob{background:black;border-radius:50%;margin:10px;height:150px;width:150px;background:#111845a6;box-sizing:border-box;overflow:hidden;box-shadow:0 0 10px 1px #FFFFFF;animation:blur 3s linear 1 0s forwards;animation:pulse 3s infinite}.NameFtThanhDieu{color:#FFFFFF;padding:0;font-size:22px;line-height:1.8;margin-bottom:0;text-shadow:-1px 0 5px CYAN,0 1px 5px RED,1px 0 5px CYAN,0 -1px 5px RED}.TieuSu{text-align:center;color:#fff;font-size:22px;font-weight:bold;text-shadow:-1px 0 5px CYAN,0 1px 5px RED,1px 0 5px CYAN,0 -1px 5px RED}hr.ThanhGachNgang{border:0.5px solid #FFFFFF;border-style:double;margin-left:20px;margin-right:20px}.Trang{color:white;-webkit-mask:linear-gradient(-60deg,white 30%,#0004,white 70%)right/300% 100%;background-repeat:no-repeat;animation:shimmer 1s infinite}.Cuoi{padding:40px 0;color:#ffffff}.Footer .ThanhDieuFtCopyright{margin-top:15px;text-align:center;font-size:20px;color:#aaa;margin-bottom:0}.rainbow{margin-top:15px;text-align:center;font-size:16px;color:#aaa;margin-bottom:0;animation:colorRotate 2.5s linear 0s infinite}@keyframes colorRotate{from{color:#FFFFFF}10%{color:#FF0000}30%{color:#00FF00}45%{color:#0000FF}55%{color:#FFFF00}65%{color:#00FFFF}75%{color:#00FF00}85%{color:#0000FF}100%{color:#FF66CC}}.Topnav{overflow:hidden}.Topnav a{font-family:'ZCOOL QingKe HuangYou';float:left;display:block;color:pink;text-align:center;padding:12px 14px;text-decoration:none;font-size:17px;border-bottom:3px solid transparent}.Topnav a:hover{border-bottom:3px solid #00ffff;margin-left:2px;transition:0.5s}.Topnav a.Active{border-bottom:3px solid #00ff00;margin-left:5px}#Toast{visibility:hidden;min-width:250px;margin-left:-125px;background-color:#333;color:gold;text-align:center;border-radius:50px;border:3px solid green;padding:16px;position:fixed;z-index:1;left:50%;bottom:35px;font-size:20px}#Toast.show{visibility:visible;-webkit-animation:fadein 2.0s,fadeout .2.0s 2.0s;animation:fadein 2.0s,fadeout 2.0s 2.0s}.NoScript{display:flex;align-items:center;justify-content:center;padding:25px;margin:20px;flex-direction:column;border-radius:20px;border:3px double cyan;background-color:#252525;color:#fff}@keyframes pulse{0%{transform:scale(0.99)}50%{transform:scale(1.1)}100%{transform:scale(0.99)}}@keyframes bodyborder{20%{border-color:cyan}40%{border-color:lime}60%{border-color:red}80%{border-color:yellow}90%{border-color:orange}}@keyframes shimmer{100%{-webkit-mask-position:left}}@-webkit-keyframes fadein{from{bottom:0;opacity:0}to{bottom:35px;opacity:1}}@keyframes fadein{from{bottom:0;opacity:0}to{bottom:35px;opacity:1}}@-webkit-keyframes fadeout{from{bottom:35px;opacity:1}to{bottom:0;opacity:0}}@keyframes fadeout{from{bottom:35px;opacity:1}to{bottom:0;opacity:0}}@keyframes blur{from{opacity:0;filter:blur(3px)}to{opacity:1;filter:blur(0px)}}@keyframes snow{0%{background-position:0px 0px,0px 0px,0px 0px}50%{background-position:500px 500px,100px 200px,-100px 150px}100%{background-position:500px 1000px,200px 400px,-100px 300px}}
body {
				background: url(https://www.dmoe.cc/random.php) no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #292929;
}
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0
}

.flex {
    display: flex;
}

.flex-both-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}

.flex-dir-c {
    flex-direction: column;
}

.mt-8 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-36 {
    margin-top: 48px;
}

.m-auto {
    margin: auto;
}

.ml-6 {
    margin-left: 6px;
}

.ln-h-22 {
    line-height: 22px;
}

.text-fs-16 {
    font-size: 16px;
}
.Blob { 

 

}
.page-overlay {
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    z-index: 100;
}

.page-image, .page-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.display-image, .page-image {
    -o-object-fit: cover;
    object-fit: cover;
}

.display-image {
    width: 96px;
    height: 96px;
    display: block;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.page-title {
    margin-bottom: 0;
}

.page-bioline {
    font-weight: 500;
}

.page-full-wrap {
    width: 680px;
    z-index: 10;
}

.page-item-wrap {
    transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.29, 2.71) 0s;
}

.page-item-wrap:hover {
    transform: translateZ(0) scale(1.015);
}

.page-item {
    box-sizing: border-box;
}

.page-social {
    display: block;
    margin: 0 12px 12px;
}

.page-social svg {
    width: 28px;
    height: 28px;
}

.relative {
    position: relative;
}

.link-each-image {
    width: 43px;
    height: 43px;
    position: absolute;
    left: 9px;
    -o-object-fit: cover;
    object-fit: cover;
}

.page-logo {
    position: absolute;
    bottom: 32px;
    left: calc(50% - 15px);
}

.rounded-md {
    border-radius: 8px;
}

.close-embed {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
}

.embed-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.close-embed:hover {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.page-item-each {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    z-index: 10;
}

.social-icon-fill:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

.page-item-title {
    font-weight: 700;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .page-full-wrap {
        width: 80%;
    }
}

.page-bg {
    background: #292929;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
}

.page-bioline {
    font-size: 16px;
    font-weight: 500;
}

.page-item-title {
    font-size: 16px;
    font-weight: 700;
}

.page-item-each {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

.page-item {
    border: 0px solid transparent;
    background: #3a3a3d;
    border-radius: 8px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
    height: 60px;
    margin-top: 16px;
}

.link-each-image, .embed-wrap iframe, .page-item-wrap {
    border-radius: 8px;
}

.page-text-font {
    font-family: "Inter", sans-serif;
}

.page-text-color {
    color: #ffffff;
}

.social-icon-fill path, .social-icon-fill circle, .social-icon-fill rect {
    fill: white;
}

.glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
text-shadow: 2px 2px blue;

}

.glow-on-hover:before {
    content: '';

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;

}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
